# Django framework
Django

# Machine Learning and NLP libraries
tensorflow
transformers
scikit-learn
joblib
numpy
pandas
nltk
dill
# Visualization
matplotlib
seaborn
wordcloud

# Reporting and PDF generation
reportlab
Pillow
# Stopwords
rake-nltk

# Other dependencies
scipy
requests
gunicorn
django_extensions
statsmodels
sentencepiece
regex
rich
safetensors
setuptools